USE [master]
GO
/****** Object:  Database [J3.L.P0040]    Script Date: 12/29/2019 3:08:09 AM ******/
CREATE DATABASE [J3.L.P0040]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J3.L.P0040', FILENAME = N'D:\BMAG-DB-Tools\MSSQL12.SQLEXPRESS\MSSQL\DATA\J3.L.P0040.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'J3.L.P0040_log', FILENAME = N'D:\BMAG-DB-Tools\MSSQL12.SQLEXPRESS\MSSQL\DATA\J3.L.P0040_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J3.L.P0040].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J3.L.P0040]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/29/2019 3:08:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[shortDescription] [nvarchar](50) NULL,
	[detailedDescription] [nvarchar](50) NULL,
	[price] [float] NULL,
	[specialPrice] [float] NULL,
	[image] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
